Repository univention/univention-keycloak-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, image_build

.gitlab-ci.yml:

stages:
  - prepare
  - build
  - merge
  - production

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "webide"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_OPEN_MERGE_REQUESTS
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_PROTECTED == "true"

include:
  - project: univention/dist/docker-services
    file:
      - kaniko.yml
      - pre-commit.yml

variables:
  DOC_TARGET_VERSION: "21.1.2"

generate-config:
  stage: prepare
  image:
    name: docker-registry.knut.univention.de/knut/deb-builder
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
  artifacts:
    paths:
      - generated-config-doc.yml

doc-pipeline:
  stage: build
  rules:
    - changes:
      - "docs/keycloak-app/**/*"
      - "docs/keycloak-migration/**/*"
  needs:
    - job: generate-config
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

image_build:
  stage: build
  extends: .kaniko
  rules:
    - changes:
      - ad-hoc/**/*
      - dependencies/**/*
      - Dockerfile
      - files/**/*
      - univention-ldap-mapper/**/*
  variables:
    KANIKO_ARGS: --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo=$CI_REGISTRY_IMAGE/cache

Added label for references in the bibliography
  docs/keycloak-app/bibliography.rst
Due: doc-pipeline

test
  .gitlab-ci.yml
Due: none

I totally see the point. Re-removed Changelog and Bibliography.
  docs/keycloak-app/index.rst
Due: doc-pipeline

fixup!
  .gitlab-ci.yml
Due: none

!fixup
  .gitlab-ci.yml
Due: none

Issue #143: document UCR variable changes
  docs/keycloak-app/configuration.rst
  docs/keycloak-migration/migration-procedure/saml.rst
Due: doc-pipeline

Issue #1880: Make Keycloak installable in 5.2 -h and -p option have been removed in ldapmodify
  app/inst
Due: none

Issue #173: Create ucs base image
  .gitlab-ci.yml
  Dockerfile
Due: image_build

doc(keycloak-app): Corrections after review
  docs/keycloak-migration/migration-procedure/forward.rst
Due: doc-pipeline

Issue #179: added postgres 15 config
  app/inst
  app/preinst.tmpl
  files/conffiles/50-keycloak.info
Due: image_build

Issue #180: Use keycloak/server/sso/fqdn lowercase in Keycloak
  app/compose
Due: none

Issue #179: added postgres 15 config
  app/preinst.tmpl
Due: none

Issue #176: Mention all sub-licenses
  LICENSE
Due: none

Explicitly added command to set log level for container
  docs/keycloak-app/troubleshooting.rst
Due: doc-pipeline

Fixed indentation
  docs/keycloak-app/troubleshooting.rst
Due: doc-pipeline

Issue #169: added update preparation chapter
  docs/keycloak-migration/finish-and-update.rst
  docs/keycloak-migration/index.rst
Due: doc-pipeline

Issue #173: removed license agreement
  app/LICENSE_AGREEMENT_DE
  app/LICENSE_AGREEMENT_EN
  update-appcenter-test.sh
Due: none

Error details presented on login page in case of account is: disabled, expired or locked
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionFreeMarkerLoginFormsProvider.java
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionFreeMarkerLoginFormsProviderFactory.java
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionUserAccountControlStorageMapper.java
  extensions/univention-ldap-mapper/src/main/resources/META-INF/services/org.keycloak.forms.login.LoginFormsProviderFactory
  extensions/univention-ldap-mapper/src/test/java/de/univention/keycloak/AccountDisabledTest.java
  extensions/univention-ldap-mapper/src/test/java/de/univention/keycloak/AccountExpiredTest.java
  extensions/univention-ldap-mapper/src/test/java/de/univention/keycloak/AccountLockedTest.java
  extensions/univention-ldap-mapper/src/test/java/de/univention/keycloak/UniventionUserAccountControlStorageMapperTest.java
  files/conffiles/messages_de.properties
  files/conffiles/messages_en.properties
  files/themes/UCS/login/login.ftl
Due: image_build

update
  .gitlab-ci.yml
Due: none
