Repository univention/univention-keycloak-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, image_build

.gitlab-ci.yml:

include:
  - project: univention/dist/docker-services
    file:
      - kaniko.yml
      - pre-commit.yml
  - project: 'univention/documentation/sphinx-docker'
    file: 'pipeline/sphinx.yml'

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_OPEN_MERGE_REQUESTS
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_PROTECTED == "true"
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "webide"

stages:
  - build
  - merge
  - production

variables:
  DOCS_DIR: "docs"
  LANG: "C.UTF-8"
  DEBIAN_FRONTEND: noninteractive
  UNIVENTION_BASECONF: /dev/null
  DOC_TARGET_VERSION: "20.0.1"
  DOC_TARGET_NAME: "keycloak-app"
  DOC_TARGET_PATH: "$DOC_TARGET_NAME/$DOC_TARGET_VERSION"

docs-linkcheck:
  extends: .sphinx-linkcheck-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-spelling:
  extends: .sphinx-spelling-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-html:
  extends: .sphinx-html-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-pdf:
  extends: .sphinx-pdf-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-warnings:
  extends: .sphinx-warnings-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-merge-to-one-artifact:
  extends: .sphinx-merge-template
  needs:
    - job: docs-html
    - job: docs-pdf
    - job: docs-spelling
      artifacts: false
    - job: docs-linkcheck
      artifacts: false
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
      changes:
      - $DOCS_DIR/**/*
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
      - $DOCS_DIR/**/*
      when: manual

# The template has inherit:variables:false to prevent the passing of pipeline
# variables to downstream, and therefore $DOCS_DIR is not available here.
docs-create-production-merge-request:
  extends: .sphinx-docs-merge-request-template
  needs:
    - job: docs-merge-to-one-artifact
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
      - docs/**/*

image_build:
  stage: build
  extends: .kaniko
  rules:
    - changes:
      - ad-hoc/**/*
      - dependencies/**/*
      - Dockerfile
      - files/**/*
      - univention-ldap-mapper/**/*
  variables:
    KANIKO_ARGS: --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo=$CI_REGISTRY_IMAGE/cache

Update changelog for new keycloak version
  docs/changelog.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update docs/changelog
  docs/changelog.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

new app test version
  app/ini
Due: none

Issue #62: added local mode to update-appcenter-test.sh
  update-appcenter-test.sh
Due: none

readme update
  README-dev.md
  README.md
Due: none

Describe keycloak/admin/user variable
  app/settings
  docs/configuration.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Bug #55916: Hide password settings
  app/settings
Due: none

Bug #55970: Describe keycloak/admin/user variable
  app/settings
  docs/configuration.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Keycloak 21.0.2
  Dockerfile
  univention-ldap-mapper/pom.xml
Due: image_build

fixup! Bug #55916: Hide password settings
  app/settings
Due: none

Issue #81: added SameSite=None to cookies so it can work on setups with different domains
  app/settings
  files/univention-keycloak.conf
  files/univention-keycloak.info
Due: image_build

Use keycloak 21.0.1
  app/ini
Due: none

Issue #84: removed app specific test
  app/test
  update-appcenter-test.sh
Due: none

Issue #81: fix error during appcenterr upload
  files/univention-keycloak.conf
Due: image_build

fixup! Issue #81: added SameSite=None to cookies so it can work on setups with different domains
  files/univention-keycloak.conf
Due: image_build

describe admin/user variable
  app/compose
  app/settings
  docs/configuration.rst
  docs/installation.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Typo
  docs/installation.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

fixup! describe admin/user variable
  app/compose
Due: none

Issue #1140: documentation of configuring keycloak on external FQDN
  docs/abbreviations.txt
  docs/bibliography.bib
  docs/configuration.rst
  docs/spelling_wordlist
  docs/troubleshooting.rst
  docs/use-cases.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

changelog
  docs/changelog.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Changelog for 21.0.1-ucs2
  docs/changelog.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Update Keycloak version
  app/ini
Due: none

Make admin console reachable via ucs-sso-ng, independent from external fqdn
  app/compose
  app/inst
  docs/configuration.rst
  files/univention-keycloak.
  files/univention-keycloak.conf
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, image_build

Issue #51: Allow keycloak to run under the same fqdn as the host
  app/compose
  app/configure_host
  app/inst
  app/settings
  files/keycloak-healthcheck
  files/univention-keycloak.conf
  files/univention-keycloak.info
Due: image_build

Added keycloak/server/sso/virtualhost
  app/README_UPDATE_DE
  app/README_UPDATE_EN
  app/compose
  app/settings
  docs/changelog.rst
  docs/configuration.rst
  files/univention-keycloak.conf
  files/univention-keycloak.info
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, image_build

Issue #51: Allow keycloak to run under the same fqdn as the host
  docs/changelog.rst
  docs/use-cases.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #94: Move keycloak-app doc to dedicated docs subdirectory
  docs/keycloak-app/Makefile
  docs/keycloak-app/architecture.rst
  docs/keycloak-app/bibliography.rst
  docs/keycloak-app/changelog.rst
  docs/keycloak-app/conf.py
  docs/keycloak-app/configuration.rst
  docs/keycloak-app/images/architecture.drawio
  docs/keycloak-app/images/architecture.svg
  docs/keycloak-app/index.rst
  docs/keycloak-app/installation.rst
  docs/keycloak-app/limitations.rst
  docs/keycloak-app/spelling_wordlist
  docs/keycloak-app/troubleshooting.rst
  docs/keycloak-app/update.rst
  docs/keycloak-app/use-cases.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #94: docs: Update keycloak-app docs conf to structure
  docs/keycloak-app/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #94: ci: Exclude file no longer needed
  docs/pipeline-rsync-exclude.txt
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #94: doc: Add base structure for migration guide
  docs/keycloak-migration/Makefile
  docs/keycloak-migration/conf.py
  docs/keycloak-migration/index.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #94: ci: Transform docs pipeline to handle multiple documents
  .gitignore
  .gitlab-ci.yml
  .gitlab-ci/base-doc.yml
  .gitlab-ci/build-ci
Due: none

Issue #69: Add LICENSE file
  LICENSE
Due: none

Issue #68: docs: Remove unused numfig_format configuration
  docs/keycloak-app/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #68: Annotate license header to source files for migration guide docs
  docs/keycloak-migration/Makefile
  docs/keycloak-migration/conf.py
  docs/keycloak-migration/index.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #68: Annotate license header to source files for keycloak app docs
  docs/keycloak-app/Makefile
  docs/keycloak-app/architecture.rst
  docs/keycloak-app/bibliography.rst
  docs/keycloak-app/changelog.rst
  docs/keycloak-app/conf.py
  docs/keycloak-app/configuration.rst
  docs/keycloak-app/index.rst
  docs/keycloak-app/installation.rst
  docs/keycloak-app/limitations.rst
  docs/keycloak-app/spelling_wordlist.license
  docs/keycloak-app/troubleshooting.rst
  docs/keycloak-app/update.rst
  docs/keycloak-app/use-cases.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #68: Add license annotation to central docs files
  docs/abbreviations.txt
  docs/bibliography.bib
  docs/links.txt
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #68: Add metadata for reuse.software
  .reuse/dep5
Due: none

Issue #94: Remove base structure for migration guide
  docs/keycloak-migration/Makefile
  docs/keycloak-migration/conf.py
  docs/keycloak-migration/index.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #68: Fix copyright dates in the documentation
  docs/abbreviations.txt
  docs/bibliography.bib
  docs/keycloak-app/Makefile
  docs/keycloak-app/architecture.rst
  docs/keycloak-app/bibliography.rst
  docs/keycloak-app/changelog.rst
  docs/keycloak-app/conf.py
  docs/keycloak-app/configuration.rst
  docs/keycloak-app/index.rst
  docs/keycloak-app/installation.rst
  docs/keycloak-app/limitations.rst
  docs/keycloak-app/spelling_wordlist.license
  docs/keycloak-app/troubleshooting.rst
  docs/keycloak-app/update.rst
  docs/keycloak-app/use-cases.rst
  docs/links.txt
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request
