Repository univention/univention-keycloak-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, image_build

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

image_build:
  stage: build
  variables:
    KANIKO_ARGS: --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo=$CI_REGISTRY_IMAGE/cache

Bug #56395: Fix error post password change if replication is slow
  univention-ldap-mapper/src/main/java/de/univention/keycloak/.UniventionUserAccountControlStorageMapper.java.swo
  univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionUpdatePassword.java
  univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionUserAccountControlStorageMapper.java
Due: image_build

Issue #135: document app authenticator
  .gitlab-ci.yml
  docs/bibliography.bib
  docs/keycloak-app/architecture.rst
  docs/keycloak-app/configuration.rst
  docs/keycloak-app/spelling_wordlist
  univention-ldap-mapper/src/main/java/de/univention/keycloak/0001-Issue-138-show-error-page-when-access-is-denied.patch
  univention-ldap-mapper/src/main/java/de/univention/keycloak/0001-workaround.patch
Due: doc-pipeline, image_build

nico suggestions
  docs/bibliography.bib
  docs/keycloak-app/configuration.rst
  docs/keycloak-app/spelling_wordlist
Due: doc-pipeline

nicos suggestions
  docs/keycloak-app/configuration.rst
Due: doc-pipeline

nicos suggestions
  docs/keycloak-app/architecture.rst
Due: doc-pipeline

nico reword
  docs/keycloak-app/configuration.rst
Due: doc-pipeline

Update doc target version
  docs/bibliography.bib
Due: none

Issue #149: Make Keycloak logo customizable
  app/compose
  app/settings
  files/themes/UCS/login/resources/css/styles.css
  files/themes/UCS/login/theme.properties
Due: image_build

Issue #155: doc(app): Add document search
  docs/keycloak-app/conf.py
Due: doc-pipeline

Issue #155: doc(app): Activate website tracking
  docs/keycloak-app/conf.py
Due: doc-pipeline

Add LICENSE_AGREEMENT
  app/LICENSE_AGREEMENT_DE
  app/LICENSE_AGREEMENT_EN
  update-appcenter-test.sh
Due: none

Fixed LICENSE_AGREEMENT
  app/LICENSE_AGREEMENT_DE
Due: none

fixup! fixup! Issue #140: automatic redirect to https
  files/univention-keycloak.conf
Due: image_build

Issue #135: document app authenticator
  docs/bibliography.bib
  docs/keycloak-app/architecture.rst
  docs/keycloak-app/configuration.rst
  univention-ldap-mapper/src/main/java/de/univention/keycloak/0001-Issue-138-show-error-page-when-access-is-denied.patch
  univention-ldap-mapper/src/main/java/de/univention/keycloak/0001-workaround.patch
Due: doc-pipeline, image_build

fixup! fixup! fixup! Issue #140: automatic redirect to https
  files/univention-keycloak.conf
Due: image_build

Issue #157: Add changelog
  docs/keycloak-app/changelog.rst
Due: doc-pipeline

fixup! Issue #135: document app authenticator
  docs/keycloak-app/configuration.rst
Due: doc-pipeline

fixup! fixup! fixup! fixup! Issue #140: automatic redirect to https
  files/univention-keycloak.conf
Due: image_build

Revert "fixup! Issue #140: automatic redirect to https"
  files/univention-keycloak.conf
Due: image_build

Issue #157: Add new keycloak version
  app/ini
Due: none

Use Keycloak 22.0.1
  Dockerfile
  univention-app-authenticator/pom.xml
  univention-ldap-mapper/pom.xml
  univention-user-attribute-nameid-mapper-base64/pom.xml
Due: image_build

Adapt imports for new java version
  Dockerfile
  univention-app-authenticator/src/main/java/de/univention/keycloak/UniventionAppAuthenticator.java
  univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionSelfService.java
  univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionUpdatePassword.java
Due: image_build

Revert "Adapt imports for new java version"
  Dockerfile
  univention-app-authenticator/src/main/java/de/univention/keycloak/UniventionAppAuthenticator.java
  univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionSelfService.java
  univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionUpdatePassword.java
Due: image_build

Revert "Use Keycloak 22.0.1"
  Dockerfile
  univention-app-authenticator/pom.xml
  univention-ldap-mapper/pom.xml
  univention-user-attribute-nameid-mapper-base64/pom.xml
Due: image_build

Issue #155: doc(migration): Add document search
  docs/keycloak-migration/conf.py
Due: doc-pipeline

Issue #155: doc(migration): Activate website tracking
  docs/keycloak-migration/conf.py
Due: doc-pipeline

Keycloak update 22.0.1
  .gitlab-ci.yml
  docs/keycloak-app/changelog.rst
Due: doc-pipeline

add dependency to univention-keycloak 791
  app/ini
Due: none

fixed apache config
  files/univention-keycloak.conf
Due: image_build

Fixed versions of libraries used in xml.pom Removed unnecessary files Generating UDM REST client is done using openapi-generator-cli inside the Dockerfile.
  Dockerfile
  ad-hoc/univention-authenticator/pom.xml
  ad-hoc/univention-directory-manager/generate-source.pom.xml
  ad-hoc/univention-directory-manager/pom.xml
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/ApiClient.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/ApiException.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/Configuration.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/JSON.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/JavaTimeFormatter.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/Pair.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/RFC3339DateFormat.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/ServerConfiguration.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/ServerVariable.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/StringUtil.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/api/UsersUserApi.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/auth/ApiKeyAuth.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/auth/Authentication.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/auth/HttpBasicAuth.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/auth/HttpBearerAuth.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/model/UsersUser.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/model/UsersUserList.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/model/UsersUserListEmbedded.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/model/UsersUserOptions.java
  ad-hoc/univention-directory-manager/src/main/java/main/org/openapitools/client/model/UsersUserPolicies.java
  ad-hoc/univention-directory-manager/src/main/resources/config.yml
  dependencies/org.jboss.resteasy.resteasy-client-6.2.5.Final.jar
  dependencies/org.jboss.resteasy.resteasy-client-api-6.2.5.Final.jar
Due: image_build

Fixed versions of libraries used in xml.pom
  ad-hoc/univention-authenticator/pom.xml
  ad-hoc/univention-directory-manager/pom.xml
Due: image_build

Issue #156: Fix content security policy for same fqdn as portal settings
  files/univention-keycloak.conf
Due: image_build

fixup! Issue #156: Fix content security policy for same fqdn as portal settings
  files/univention-keycloak.conf
Due: image_build

Issue #156: Create new keycloak version
  app/ini
Due: none

Issue #152: Move ftls into the container
  Dockerfile
  files/themes/UCS/login/template.ftl.patch
Due: image_build

use extra build stage to copy artifacts
  Dockerfile
  extensions/pom.xml
Due: image_build

Issue #152: Move ftls into the container
  Dockerfile
  app/compose
  app/preinst.tmpl
  files/themes/UCS/login/resources/css/styles.css
  update-appcenter-test.sh
Due: image_build

Issue #152: Move ftls into the container
  Dockerfile
  extensions/pom.xml
  extensions/univention-app-authenticator/pom.xml
  extensions/univention-app-authenticator/src/main/java/de/univention/keycloak/UniventionAppAuthenticator.java
  extensions/univention-app-authenticator/src/main/java/de/univention/keycloak/UniventionAppAuthenticatorFactory.java
  extensions/univention-app-authenticator/src/main/resources/META-INF/services/org.keycloak.authentication.AuthenticatorFactory
  extensions/univention-ldap-mapper/pom.xml
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/.UniventionUserAccountControlStorageMapper.java.swo
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/0001-Issue-138-show-error-page-when-access-is-denied.patch
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/0001-workaround.patch
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/ResetPasswordRequest.java
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/ResetPasswordResponse.java
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionSelfService.java
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionSelfServiceFactory.java
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionUpdatePassword.java
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionUpdatePasswordFactory.java
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionUserAccountControlStorageMapper.java
  extensions/univention-ldap-mapper/src/main/java/de/univention/keycloak/UniventionUserAccountControlStorageMapperFactory.java
  extensions/univention-ldap-mapper/src/main/resources/META-INF/services/org.keycloak.authentication.RequiredActionFactory
  extensions/univention-ldap-mapper/src/main/resources/META-INF/services/org.keycloak.storage.ldap.mappers.LDAPStorageMapperFactory
  extensions/univention-ldap-mapper/src/test/java/de/univention/keycloak/AccountDisabledTest.java
  extensions/univention-ldap-mapper/src/test/java/de/univention/keycloak/AccountExpiredTest.java
  extensions/univention-ldap-mapper/src/test/java/de/univention/keycloak/AccountLockedTest.java
  extensions/univention-ldap-mapper/src/test/java/de/univention/keycloak/PasswordChangeNeededTest.java
  extensions/univention-ldap-mapper/src/test/java/de/univention/keycloak/ResetPasswordRequestTest.java
  extensions/univention-ldap-mapper/src/test/java/de/univention/keycloak/ResetPasswordResponseTest.java
  extensions/univention-ldap-mapper/src/test/java/de/univention/keycloak/UniventionUserAccountControlStorageMapperTest.java
  extensions/univention-ldap-mapper/src/test/resources/log4j.properties
  extensions/univention-user-attribute-nameid-mapper-base64/pom.xml
  extensions/univention-user-attribute-nameid-mapper-base64/src/main/java/de/univention/keycloak/UniventionUserAttributeNameIdMapperBase64.java
  extensions/univention-user-attribute-nameid-mapper-base64/src/main/resources/META-INF/services/org.keycloak.protocol.ProtocolMapper
Due: image_build

Path conditions:
  doc-pipeline: any of: docs/keycloak-app/**/*, docs/keycloak-migration/**/*
  image_build: any of: ad-hoc/**/*, dependencies/**/*, Dockerfile, files/**/*, univention-ldap-mapper/**/*
