Repository univention/univention-keycloak-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, image_build

.gitlab-ci.yml:

stages:
  - prepare
  - build
  - merge
  - production

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "webide"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_OPEN_MERGE_REQUESTS
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_PROTECTED == "true"

include:
  - project: univention/dist/docker-services
    file:
      - kaniko.yml
      - pre-commit.yml

variables:
  DOC_TARGET_VERSION: "21.1.2"

generate-config:
  stage: prepare
  image:
    name: docker-registry.knut.univention.de/knut/deb-builder
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
  artifacts:
    paths:
      - generated-config-doc.yml

doc-pipeline:
  stage: build
  rules:
    - changes:
      - "docs/keycloak-app/**/*"
      - "docs/keycloak-migration/**/*"
  needs:
    - job: generate-config
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend
    forward:
      pipeline_variables: true

image_build:
  stage: build
  extends: .kaniko
  rules:
    - changes:
      - ad-hoc/**/*
      - dependencies/**/*
      - Dockerfile
      - files/**/*
      - univention-ldap-mapper/**/*
  variables:
    KANIKO_ARGS: --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo=$CI_REGISTRY_IMAGE/cache

Issue #148: Make switching the theme more comfortable
  app/configure_host
  app/settings
  docs/keycloak-app/changelog.rst
  docs/keycloak-app/configuration.rst
  files/themes/UCS/login/resources/img/favicon.ico
  files/themes/UCS/login/resources/univention.js
  files/themes/UCS/login/theme.properties
  files/univention-keycloak.conf
Due: doc-pipeline, image_build

Issue #148: Add login custom.css as well
  files/themes/UCS/login/resources/univention.js
Due: image_build

fixup! Document theme.css
  docs/keycloak-app/configuration.rst
Due: doc-pipeline

add favicon, css from template, logo as web resource
  app/compose
  docs-dev/README-themes-template.md
  docs/keycloak-app/changelog.rst
  files/themes/UCS/login/resources/css/styles.css
  files/themes/UCS/login/resources/img/login_logo.svg
  files/themes/UCS/login/resources/univention.js
  files/themes/UCS/login/template.ftl.patch
  files/themes/UCS/login/theme.properties
  files/univention-keycloak.conf
Due: doc-pipeline, image_build

Document theme.css
  docs/keycloak-app/configuration.rst
Due: doc-pipeline

changelog update
  docs/keycloak-app/changelog.rst
Due: doc-pipeline

Issue #160: Fixed versions of libraries used in xml.pom
  ad-hoc/univention-authenticator/pom.xml
  ad-hoc/univention-directory-manager/pom.xml
Due: image_build

Issue #129: check certificate files before include
  app/settings
  files/univention-keycloak.conf
Due: image_build

Issue #160: Fixed versions of libraries used in xml.pom
  ad-hoc/univention-directory-manager/pom.xml
Due: image_build

Issue #160: Fixed versions of libraries used in xml.pom
  Dockerfile
Due: image_build

Issue #37: Configurable links below the login
  Dockerfile
  devdoc/assorted.rst
  devdoc/index.rst
  files/themes/UCS/login/resources/css/styles.css
  files/themes/UCS/login/template.ftl.patch
Due: image_build

docs/appearance-customization: Improve readability
  docs/keycloak-app/configuration.rst
Due: doc-pipeline

fixup! fixup! Issue #163: Update to Keycloak 22.0.3
  docs/bibliography.bib
Due: none

fixup! Issue #163: Update to Keycloak 22.0.3
  docs/keycloak-app/changelog.rst
Due: doc-pipeline

Issue #163: Update to Keycloak 22.0.3
  Dockerfile
  ad-hoc/univention-authenticator/pom.xml
  app/ini
  extensions/pom.xml
Due: image_build

Issue #141: review database documentation and implementation
  app/configure_host
  docs/bibliography.bib
  docs/keycloak-app/configuration.rst
  docs/keycloak-app/database.rst
  docs/keycloak-app/index.rst
  docs/keycloak-app/limitations.rst
Due: doc-pipeline

Revert "Issue #163: Update to Keycloak 22.0.3"
  Dockerfile
  ad-hoc/univention-authenticator/pom.xml
  extensions/pom.xml
Due: image_build

added link to ad hoc presentation
  docs-dev/README-dev.md
Due: none

Revert "fixup! Issue #163: Update to Keycloak 22.0.3"
  app/ini
  docs/bibliography.bib
  docs/keycloak-app/changelog.rst
Due: doc-pipeline

Revert "Revert "Issue #163: Update to Keycloak 22.0.3""
  Dockerfile
  ad-hoc/univention-authenticator/pom.xml
  extensions/pom.xml
Due: image_build

Issue #37: Configurable links below the login documentation
  docs/keycloak-app/changelog.rst
  docs/keycloak-app/configuration.rst
  docs/keycloak-app/images/login_links.png
Due: doc-pipeline

docs/keycloak-app: Add nested group limitation to section intro
  docs/keycloak-app/configuration.rst
Due: doc-pipeline

Issue #150: configurable cookie popup
  files/themes/UCS/login/resources/css/styles.css
  files/themes/UCS/login/resources/univention.js
  files/themes/UCS/login/template.ftl.patch
  files/themes/UCS/login/theme.properties
Due: image_build

Issue #153: check accessibility
  files/themes/UCS/login/login.ftl
  files/themes/UCS/login/resources/css/styles.css
Due: image_build

Issue #165: revert configure host changes
  app/configure_host
Due: none

Issue #165: apply configure host changes
  app/configure_host
Due: none

Revert "Revert "fixup! Issue #163: Update to Keycloak 22.0.3""
  app/ini
  docs/bibliography.bib
  docs/keycloak-app/changelog.rst
Due: doc-pipeline

Issue #165: reload postgres (instead of restarting)
  app/inst
Due: none

Issue #150: cookie banner documentation
  docs/keycloak-app/configuration.rst
Due: doc-pipeline

keycloak 22.0.3-ucs1 release
  .gitlab-ci.yml
  docs/keycloak-app/changelog.rst
Due: doc-pipeline

new app version after release
  app/ini
Due: none

Issue #168: Move Ad-hoc modules to extensions
  Dockerfile
  extensions/univention-authenticator/pom.xml
  extensions/univention-authenticator/src/main/java/de/univention/authenticator/UniventionAuthenticator.java
  extensions/univention-authenticator/src/main/java/de/univention/authenticator/UniventionAuthenticatorFactory.java
  extensions/univention-authenticator/src/main/resources/META-INF/jboss-deployment-structure.xml
  extensions/univention-authenticator/src/main/resources/META-INF/services/org.keycloak.authentication.AuthenticatorFactory
  extensions/univention-directory-manager/generate-source.pom.xml
  extensions/univention-directory-manager/pom.xml
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/ApiClient.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/ApiException.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/Configuration.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/JSON.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/JavaTimeFormatter.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/Pair.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/RFC3339DateFormat.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/ServerConfiguration.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/ServerVariable.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/StringUtil.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/api/UsersUserApi.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/auth/ApiKeyAuth.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/auth/Authentication.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/auth/HttpBasicAuth.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/auth/HttpBearerAuth.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/model/UsersUser.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/model/UsersUserList.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/model/UsersUserListEmbedded.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/model/UsersUserOptions.java
  extensions/univention-directory-manager/src/main/java/main/org/openapitools/client/model/UsersUserPolicies.java
  extensions/univention-directory-manager/src/main/resources/openapi.json
Due: image_build

update readme
  README.md
  docs-dev/README-testing-release.md
Due: none

added meta.json doc
  docs-dev/README-themes-template.md
Due: none

Docs: Small updates and a few fixed typos
  docs/keycloak-app/configuration.rst
  docs/keycloak-app/installation.rst
Due: doc-pipeline

doc: Use "backend"
  docs/keycloak-app/database.rst
Due: doc-pipeline

Table of contents in index.html now reflects the toc chapters in the sidebar
  docs/keycloak-app/index.rst
Due: doc-pipeline
