Repository univention/univention-keycloak-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, image_build

.gitlab-ci.yml:

include:
  - project: univention/dist/docker-services
    file:
      - kaniko.yml
      - pre-commit.yml
  - project: 'univention/documentation/sphinx-docker'
    file: 'pipeline/sphinx.yml'

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_OPEN_MERGE_REQUESTS
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_PROTECTED == "true"
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "webide"

stages:
  - build
  - merge
  - production

variables:
  DOCS_DIR: "docs"
  LANG: "C.UTF-8"
  DEBIAN_FRONTEND: noninteractive
  UNIVENTION_BASECONF: /dev/null
  DOC_TARGET_VERSION: "20.0.1"
  DOC_TARGET_NAME: "keycloak-app"
  DOC_TARGET_PATH: "$DOC_TARGET_NAME/$DOC_TARGET_VERSION"

docs-linkcheck:
  extends: .sphinx-linkcheck-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-spelling:
  extends: .sphinx-spelling-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-html:
  extends: .sphinx-html-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-pdf:
  extends: .sphinx-pdf-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-warnings:
  extends: .sphinx-warnings-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-merge-to-one-artifact:
  extends: .sphinx-merge-template
  needs:
    - job: docs-html
    - job: docs-pdf
    - job: docs-spelling
      artifacts: false
    - job: docs-linkcheck
      artifacts: false
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
      changes:
      - $DOCS_DIR/**/*
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
      - $DOCS_DIR/**/*
      when: manual

# The template has inherit:variables:false to prevent the passing of pipeline
# variables to downstream, and therefore $DOCS_DIR is not available here.
docs-create-production-merge-request:
  extends: .sphinx-docs-merge-request-template
  needs:
    - job: docs-merge-to-one-artifact
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
      - docs/**/*

image_build:
  stage: build
  extends: .kaniko
  rules:
    - changes:
      - ad-hoc/**/*
      - dependencies/**/*
      - Dockerfile
      - files/**/*
      - univention-ldap-mapper/**/*
  variables:
    KANIKO_ARGS: --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo=$CI_REGISTRY_IMAGE/cache

Issue #109: spellcheck
  docs/keycloak-migration/spelling_wordlist
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #122: Changelog for new keycloak app version
  docs/keycloak-app/changelog.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #122: New Keycloak version
  app/ini
Due: none

Issue #95: update to 21.1.1
  Dockerfile
  app/inst
  docs/keycloak-app/changelog.rst
  univention-ldap-mapper/pom.xml
  univention-user-attribute-nameid-mapper-base64/pom.xml
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, image_build

local documentation build example
  README-dev.md
Due: none

Issue #89: Change SPN in keycloak
  app/inst
Due: none

Issue #89: kerberos service principal and keytab creation in joinscript
  app/inst
  docs/keycloak-app/configuration.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #89: Remove kerberos from limitation list
  docs/keycloak-app/changelog.rst
  docs/keycloak-app/configuration.rst
  docs/keycloak-migration/limitations.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #99: Update changelog
  docs/keycloak-app/changelog.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Issue #99: Update changelog.rst
  docs/keycloak-app/changelog.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #99: New keycloak version
  app/ini
Due: none

Issue #139: Update links to Keycloak documentation to 21.1.1
  docs/bibliography.bib
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

more update tasks
  README-dev.md
Due: none

Issue #130: update to 21.1.2
  Dockerfile
  docs/bibliography.bib
  docs/keycloak-app/changelog.rst
  univention-ldap-mapper/pom.xml
  univention-user-attribute-nameid-mapper-base64/pom.xml
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, image_build

Issue #99: Apply documentation styleguide rules
  docs/keycloak-app/changelog.rst
  docs/keycloak-app/configuration.rst
  docs/keycloak-app/spelling_wordlist
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #99: Explain AD Kerberos setting
  docs/keycloak-app/configuration.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #134: Create App authentiator
  Dockerfile
  univention-app-authenticator/pom.xml
  univention-app-authenticator/src/main/java/de/univention/keycloak/UniventionAppAuthenticator.java
  univention-app-authenticator/src/main/java/de/univention/keycloak/UniventionAppAuthenticatorFactory.java
  univention-app-authenticator/src/main/resources/META-INF/services/org.keycloak.authentication.AuthenticatorFactory
Due: image_build

Issue #134: Add readme on howto configure this app authenticator
  README-appauth.md
  flow.png
  groupmapper.png
Due: none

Issue #119: LE app settings
  docs/keycloak-app/use-cases.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #118: added app settings
  README-dev.md
  app/settings
  docs/keycloak-app/limitations.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #131: keycloak release
  .gitlab-ci.yml
  docs/keycloak-app/changelog.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #118: added app settings
  app/settings
Due: none

Issue #131: docs
  .gitlab-ci.yml
Due: none

Issue #131: docs release
  docs/keycloak-app/changelog.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #131: new test app version
  app/ini
Due: none

update
  README-dev.md
Due: none

Issue #144: update not supported warning
  docs/keycloak-app/configuration.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #145: Usage of PATH in documentation examples
  docs/keycloak-app/use-cases.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #140: automatic redirect to https
  files/univention-keycloak.conf
Due: image_build

Issue #138: show error page when access is denied
  app/settings
  files/themes/UCS/login/access-denied.ftl
  files/themes/UCS/login/resources/css/styles.css
  univention-app-authenticator/pom.xml
  univention-app-authenticator/src/main/java/de/univention/keycloak/UniventionAppAuthenticator.java
Due: image_build

fixup! Issue #138: show error page when access is denied
  app/settings
  files/themes/UCS/login/access-denied.ftl
  univention-app-authenticator/src/main/java/de/univention/keycloak/UniventionAppAuthenticator.java
Due: image_build

!fixup Issue #140: automatic redirect to https
  files/univention-keycloak.conf
Due: image_build

!fixup move dev documentation to docs-dev
  docs-dev/README-appauth.md
  docs-dev/README-dev.md
  docs-dev/flow.png
  docs-dev/groupmapper.png
Due: none

Update README.md
  README.md
Due: none

fixup! Issue #140: automatic redirect to https
  files/univention-keycloak.conf
Due: image_build
