Repository univention/univention-keycloak-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, image_build

.gitlab-ci.yml:

include:
  - project: univention/dist/docker-services
    file:
      - kaniko.yml
      - pre-commit.yml
  - project: 'univention/documentation/sphinx-docker'
    file: 'pipeline/sphinx.yml'

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_OPEN_MERGE_REQUESTS
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_PROTECTED == "true"
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "webide"

stages:
  - build
  - merge
  - production

variables:
  DOCS_DIR: "docs"
  LANG: "C.UTF-8"
  DEBIAN_FRONTEND: noninteractive
  UNIVENTION_BASECONF: /dev/null
  DOC_TARGET_VERSION: "20.0.1"
  DOC_TARGET_NAME: "keycloak-app"
  DOC_TARGET_PATH: "$DOC_TARGET_NAME/$DOC_TARGET_VERSION"

docs-linkcheck:
  extends: .sphinx-linkcheck-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-spelling:
  extends: .sphinx-spelling-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-html:
  extends: .sphinx-html-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-pdf:
  extends: .sphinx-pdf-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-warnings:
  extends: .sphinx-warnings-template
  rules:
    - changes:
      - $DOCS_DIR/**/*

docs-merge-to-one-artifact:
  extends: .sphinx-merge-template
  needs:
    - job: docs-html
    - job: docs-pdf
    - job: docs-spelling
      artifacts: false
    - job: docs-linkcheck
      artifacts: false
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
      changes:
      - $DOCS_DIR/**/*
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
      - $DOCS_DIR/**/*
      when: manual

# The template has inherit:variables:false to prevent the passing of pipeline
# variables to downstream, and therefore $DOCS_DIR is not available here.
docs-create-production-merge-request:
  extends: .sphinx-docs-merge-request-template
  needs:
    - job: docs-merge-to-one-artifact
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
      - docs/**/*

image_build:
  stage: build
  extends: .kaniko
  rules:
    - changes:
      - ad-hoc/**/*
      - dependencies/**/*
      - Dockerfile
      - files/**/*
      - univention-ldap-mapper/**/*
  variables:
    KANIKO_ARGS: --build-arg commit="$CI_COMMIT_SHA" --build-arg date="$CI_JOB_STARTED_AT" --cache=true --cache-repo=$CI_REGISTRY_IMAGE/cache

Make admin console configurable
  app/compose
  app/settings
Due: none

Always use ucs-sso-ng as admin console
  app/compose
  app/inst
  docs/keycloak-app/configuration.rst
  files/univention-keycloak.conf
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, image_build

next keycloak version will be 21.0.1-ucs3
  app/README_UPDATE_DE
  app/README_UPDATE_EN
  docs/keycloak-app/changelog.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #86: Document adjusting of the login page
  docs/keycloak-app/configuration.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #86. Set login page texts via configuration file
  files/messages_de.properties
  files/messages_en.properties
Due: image_build

Resolve "Basic structure for migration guide"
  docs/bibliography.bib
  docs/keycloak-migration/Makefile
  docs/keycloak-migration/bibliography.rst
  docs/keycloak-migration/conf.py
  docs/keycloak-migration/examples.rst
  docs/keycloak-migration/index.rst
  docs/keycloak-migration/limitations.rst
  docs/keycloak-migration/migration-procedure.rst
  docs/keycloak-migration/preconditions.rst
  docs/keycloak-migration/spelling_wordlist
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #105: remove unused keycloak/url/prefix app setting
  app/settings
  files/univention-keycloak.conf
Due: image_build

update
  docs/keycloak-migration/migration-procedure.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

document how to migrate the signing certificate
  docs/bibliography.bib
  docs/keycloak-migration/migration-procedure.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

applied suggestions
  docs/keycloak-migration/migration-procedure.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

apply suggestion
  docs/keycloak-migration/migration-procedure.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

!fixup
  docs/keycloak-migration/migration-procedure.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

!fixup
  docs/keycloak-migration/preconditions.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Update README-dev.md
  README-dev.md
Due: none

Issue #74: added letsencrypt section
  docs/keycloak-app/use-cases.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #82: Describe custom apache configuration for the keycloak admin console
  docs/keycloak-app/configuration.rst
  docs/keycloak-app/use-cases.rst
  files/univention-keycloak.conf
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request, image_build

[docs] Keycloak debugging
  devdoc/abbreviations.txt
  devdoc/debugging.rst
  devdoc/index.rst
  docs/abbreviations.txt
  docs/keycloak-app/index.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

[docs] Keycloak debugging
  docs/abbreviations.txt
  docs/debugging.rst
  docs/keycloak-app/index.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #96: New keycloak version
  app/ini
Due: none

Issue #96: New keycloak version
  docs/keycloak-app/changelog.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #96: New testappcenter version after release
  app/ini
Due: none

Issue #109: added base64 nameid saml mapper
  Dockerfile
  univention-user-attribute-nameid-mapper-base64/pom.xml
  univention-user-attribute-nameid-mapper-base64/src/main/java/de/univention/keycloak/UniventionUserAttributeNameIdMapperBase64.java
  univention-user-attribute-nameid-mapper-base64/src/main/resources/META-INF/services/org.keycloak.protocol.ProtocolMapper
Due: image_build

docs/changelog: Adjust to style guide
  docs/keycloak-app/changelog.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

added IDP
  docs/abbreviations.txt
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

!fixup IdP
  docs/abbreviations.txt
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

changed theme setting to distributed
  app/settings
Due: none

Issue #70: set installations via dcd
  app/configure_host
Due: none

Nextcloud migration
  docs/keycloak-migration/examples.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #113: owncloud migration
  docs/keycloak-migration/examples.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

!fixup
  docs/keycloak-migration/examples.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #100: google migration
  docs/keycloak-migration/examples.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #107: document ldap mappers
  docs/keycloak-app/configuration.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #112: google migration
  docs/keycloak-migration/examples.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #90: SimpleSAMLPHP as SP in Keycloak
  docs/keycloak-migration/migration-procedure.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #120: portal migration
  docs/keycloak-app/configuration.rst
  docs/keycloak-migration/examples.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #91: Document how to migrate a SAML client in general
  docs/keycloak-migration/examples.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

fixup! Issue #107: document ldap mappers
  docs/keycloak-app/configuration.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #106: Add SimpleSAMLphp/Kopano-Connect to Keycloak migration guide
  docs/abbreviations.txt
  docs/bibliography.bib
  docs/keycloak-app/configuration.rst
  docs/keycloak-migration/Makefile
  docs/keycloak-migration/bibliography.rst
  docs/keycloak-migration/conf.py
  docs/keycloak-migration/index.rst
  docs/keycloak-migration/limitations.rst
  docs/keycloak-migration/migration-examples/index.rst
  docs/keycloak-migration/migration-examples/oidc.rst
  docs/keycloak-migration/migration-examples/saml.rst
  docs/keycloak-migration/migration-procedure/forward.rst
  docs/keycloak-migration/migration-procedure/index.rst
  docs/keycloak-migration/migration-procedure/oidc.rst
  docs/keycloak-migration/migration-procedure/prerequisites.rst
  docs/keycloak-migration/migration-procedure/saml.rst
  docs/keycloak-migration/spelling_wordlist
  docs/keycloak-migration/troubleshooting.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request

Issue #109: Kopano Connect is actually spelled "Kopano Konnect"
  docs/keycloak-app/limitations.rst
  docs/keycloak-migration/index.rst
  docs/keycloak-migration/migration-examples/oidc.rst
  docs/keycloak-migration/migration-procedure/index.rst
  docs/keycloak-migration/migration-procedure/oidc.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, docs-create-production-merge-request
